h1{
    color: purple;
}

.yt{
    background-color: red;
    color: white;
    /* border-radius: 50%; */
    /* text-decoration: none; */
    /* padding: 8px 10px 8px 10px; */
}

.discord{
    background-color: royalblue;
    color: black;
    border-radius: 25%;
    text-decoration: none;
    padding: 8px 10px 8px 10px;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

